<div class="main-heading">
  <h1>Create a new event</h1>
</div>

<% if flash[:error].present? %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<% if @event.errors.any? %>
  <ol>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<div class="event-form-container">
  <div class="event-form-wrapper">
    <%= render :partial => 'form' %>
  </div>
<div>
