<div class="event-featured">
  <div>
    <div class="cta-message"> Explore, choose and plan exciting events around you. <br> Or create one of your own.</div>
    <% if @current_user.present? %>
      <%= link_to "Create an event", new_event_path, :class => 'cta-btn' %>
    <% else %>
      <%= link_to "Create an account", new_user_path, :class => 'cta-btn' %>
    <% end %>
  </div>
</div>

<div class="main-heading">
  <h1>Next events coming up</h1>
</div>

<%= render :partial => 'tiled_events' %>
