<h1>Featured events coming up</h1>

<% @events.each do |event| %>
  <ul>
    <li>
      <%= link_to event.name, event_path(event.id) %>
      <%= render :partial => 'attending_status', :locals => { :event => event } %>
      <p><%= "From #{ event.start_datetime.strftime('%A %d %B, %l:%M %p') } until #{ event.end_datetime.strftime('%A %d %B, %l:%M %p') }"  %></p>
      <p><%= simple_format event.description %></p>
    </li>
  </ul>
<% end %>
