.form-wrapper {
  width: 500px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
}

.event-creator-message {
  color: lime;
  font-weight: bold;
}

.event-image-form {
  width: 100%;
}

.event-img-hero {
  display: block;
  max-width: 50%;
}
