<% if @current_user.present? %>

  <% case event.attending_status(@current_user) %>
    <% when nil %>
      <% if event.user_id == @current_user.id %>
        <span class="event-creator-message">You created the event</span>
      <% else %>
        <%= render :partial => 'create_attendance_UI', :locals => { :status => 'You are not attending', :event => event } %>
      <% end %>
    <% when 'attending' %>
      <%= render :partial => 'create_attendance_UI', :locals => { :status => 'You are attending', :event => event } %>
    <% when 'maybe_attending' %>
      <%= render :partial => 'create_attendance_UI', :locals => { :status => 'You may attend', :event => event } %>
  <% end %>

<% end %>
