<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="attending-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= status %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="attending-dropdown">
    <li>
      <%= link_to 'Attending', event_rsvps_path(event, :status => 'attending'), :method => 'post' %>
    </li>
    <li>
      <%= link_to 'Maybe attending', event_rsvps_path(event, :status => 'maybe_attending'), :method => 'post' %>
    </li>
  </ul>
</div>
